<div class="container" id="hero">
  <section class="about">
    <div class="hero-image">
      <%= image_tag "DavidFlanik.png", alt: "davids_photo", class: "hero-avatar" %>
    </div>
    <div class="hero-content">
      <h1>Hi, My name is David</h1>
      <div class="small-bio">
        <p>I'm a full-stack web developer based in Tokyo Japan. I am looking for a position as a backend developer in an environment where I can push myself while learning new technologies. I aim to utilize both my technical and business experiences to have a positive impact in your business operations.</p>
      </div>
      <ul class="socials-list">
        <li><a href="https://github.com/DaveBFlanikJr" target="_blank"><i class="fab fa-github-square social-link pr-4"></i></a></li>
        <li><a href="https://www.linkedin.com/in/david-flanik/" target="_blank"><i class="fab fa-linkedin social-link pr-4"></i></a></li>
        <li><a href="../assets/my-info/Davidresume.pdf" target="_blank" class="resume-link">Resume</a></li>
      </ul>
      <div id="projects"></div>
    </div>
  </section>
</div>
