<header class="">
    <a href="#hero" class="logo">David Flanik</a>
    <nav class="" id="nav-list">
      <ul>
        <li><a href="#hero">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
</header>
